# Jetbrains and environment dirs.
.idea/
env/
target/

# User-specific dirs.
#/datasettoolkit/configs/*.json
/datasettoolkit/datasets/*.txt
/datasettoolkit/datasets/*.txc
/datasettoolkit/datasets/*.csv
/datasettoolkit/checkpoints/*

# Include all .example files for new user guidance.
!*.example
